.vscode
.DS_Store
.venv/
venv/
.env/
env/
__pycache__/
migrations/
.ebextensions/
django/my_site/staticfiles/


# exclude everything
django/feedback/temp/*

# exception to the rule
!django/feedback/temp/.gitkeep

# exclude everything
django/feedback/uploads/images/*

# exception to the rule
!django/feedback/uploads/images/.gitkeep
