{% extends "reviews/base.html" %}

{% block title %}Your Review{% endblock title %}

{% block content %}

    <form method="POST" action="/">
        {% csrf_token %}
        {% comment %} {% if has_error %}
            <p>This for is invalid. Please enter a valid username.</p>
            <br/>
        {% endif %} {% endcomment %}
        {% comment %} <label for="username">Your name:</label>
        <input if="username" name="username" type="text"> {% endcomment %}

        {% comment %} auto render entire form {% endcomment %}
        {% comment %} {{ form }} {% endcomment %}

        {% comment %} manually add elements {% endcomment %}
        {% comment %} <div class="form-control {% if form.user_name.errors %}errors{% endif %}">
            {{ form.user_name.label_tag }}
            {{ form.user_name }}
            {{ form.user_name.errors }}
        </div>

        <div class="form-control {% if form.review_text.errors %}errors{% endif %}">
            {{ form.review_text.label_tag }}
            {{ form.review_text }}
            {{ form.review_text.errors }}
        </div>

        <div class="form-control {% if form.rating.errors %}errors{% endif %}">
            {{ form.rating.label_tag }}
            {{ form.rating }}
            {{ form.rating.errors }}
        </div> {% endcomment %}


        {% for field in form %}
            <div class="form-control {% if field.errors %}errors{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}

        <button type="submit">Send</button>
    </form>

{% endblock content %}
