{% load static %}
<li>
    <article class="post">
        <a href="{% url "post-deatail-page" "the-mountans" %}">
            <img src="{% static "blog/images/mountans.png" %}" alt="Monutan Hiking"/>
            <div class="post__content">
                <h3>Mountan Hiking</h3>
                <p>There is nothing like the views you get in the mountans! And I wasn't ever prapared for what
                    happened whilst I was enjoing the view!
                </p>
            </div>
        </a>
    </article>
</li>